body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}
.navbar{
	margin-bottom: 0;
}
.carousel-control{
	font-size: 400%;
}
.right,.left{
	background-image: none;
}
.right span,.left span{
	position: absolute;
	top: 40%;
}
.featurette-image{
	width: 236px;
}
.text-center{
	margin-top: 50px;
}