body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "微软雅黑";
}
.hide{
	display: none;
}
.clear{
	clear: both;
}
.about{
	margin-left: 50px;
}
#login_submit{
	height: 30px;
	line-height: normal;
}
#login_submit:hover{
	color: #fff;
}
#login_msg{
	color: red;
	font-size: 12px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:link,a:visited,a:hover,a:active{
    text-decoration:none;
}
#logo{
	color: #fff;
}
.navbar{
	margin-bottom: 0;
}
.form-group a{
	text-decoration: none;
	display: inline-block;
	height: 20px;
	width: 50px;
	line-height: 35px;
	color: #fff;
}
.form-group a:hover{
	color: red;
}
.username{
	font-size: 16px;
	color: #fff;
	margin-right: 20px;
}
.login,.logon,.change{
	width: 33%;
	position: fixed;
	left: 33%;
	top: 15%;
	background: #fff;
	z-index: 999;
	border: 5px solid #eee;
}
.forget,.login_foot{
	font-size: 12px;
	float: right;
	margin-bottom: 15px;
}
.page-header{
	padding: 0 30px;
	border: none;
}
.login,.logon,.change{
	display: none;
}
.login .cancel a,.logon .cancel a,.change .cancel a{
  position: absolute;
  right: 30px;
  color: #000;
  text-decoration: none;
}
.login .btn,.logon .btn,.change .btn{
	width: 100%;
	background-color: red;
	border-color: red;
}
.logon .form-group{
	margin-bottom: 5px;
}
.logon form span,.change form span{
	font-size: 12px;
	color: #ccc;	
}
.logon form .error > input,.change form .error > input{
	border-color: red;
}
.logon form .error > span,.change form .error > span{
	color: red;
}
.logon form .correct > input,.change form .correct > input{
	border-color: #88ccff;
}
.logon form .correct > span,.change form .correct > span{
	color: #88ccff;
}
.change form .form-group a{
	margin-top: 20px;
	height: 35px;
	line-height: 22px;
}
.change form .form-group a:hover{
	color: #fff;
}
.carousel-control{
	font-size: 400%;
}
.right,.left{
	background-image: none;
}
.right span,.left span{
	position: absolute;
	top: 40%;
}
.featurette-image{
	width: 236px;
}
.text-center{
	margin-top: 50px;
}
.footer{
	background-color: #000;
}
.center{
	margin-bottom: 30px;
}
.center li{
	font-size: 12px;
	color: #555;
	line-height: 22px;
}
.carousel-indicators li{
	margin:0 10px;
}
.carousel-indicators .active{
	margin:0 10px;
}
@media screen and (max-width: 760px) {
    .center,.breadcrumb{
    	display: none;
    }
    .login{
    	width: 290px;
    	left: 50%;
    	margin-left: -145px;
    }
}
@media screen and (max-width: 1200px) {
    #myScrollspy{
    	display: none;
    }
    .left_computer{
    	display: none;
    }
}

/* Custom Styles */
.row{
	margin-top: 20px;
}
.side_list.nav-tabs{
    width: 210px;
    margin-top: 20px;
}
.nav-stacked > li + li{
	margin:0;
	border: none;
}
.nav-stacked > li + li:hover{
	margin:0;
	border: none;
}
.side_list > li > a{
	border: none;
}
.side_list.nav-tabs li a{
    margin: 0;
    padding: 16px 16px;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
}
.side_list.nav-tabs.affix{
    top: 30px; /* Set the top position of pinned element */
}
.side_list .title{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
    color: #fff;
	background: #e72e25;
}
.side_list > li > a{
	background: #4b4b4b;
}
.side_list  > li.active > a{
	border: none;
	background: #000;
}
.side_list  > li.active > a:hover{
	border: none;
	background: #000;
	color: #fff;
	border: none;
}
.side_list  > li > a:hover{
	color: #e72e25;
	background: #4b4b4b;
	border: none;
}
.com_line{
	width: 100%;
	height: 100%;
	margin: 0;
}
.com_line h3{
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}
.com_line .first{
	background: #97c057;
}
.com_line .second{
	background: #8f82bc;
}
.com_line .third{
	background: #d9d042;
}
.com_line .forth{
	background: #f1b04f;
}
.com_line .fifth{
	background: #0088cc;
}
.common_hide,.light_hide,.hot_hide,.game_hide,.change_hide,.x_hide,.t_hide,.s_hide,.p_hide{
	display: none;
}
.common_spread,.light_spread,.hot_spread,.game_spread,.change_spread,.x_spread,.t_spread,.s_spread,.p_spread{
	font-size: 12px;
	color: #fff;
	cursor: pointer;
	float: right;
}
.item{
	padding: 0;
}
.img_container img{
	width: 100%;
}
.item h4,.item p,.item span{
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}
.item h4 a{
	font-size: 16px;
	text-decoration: none;
	color: #000;
}
.item .detail{
	color: #6f7170;
	font-size: 12px;
}
.item .cost{
	color: red;
}
/*详情页*/
.pic img{
	width: 80%;
}
.posters img{
	width: 100%;
}
.right_infor{
	padding: 0;
}
.breadcrumb{
	background: none;
	border: 1px dashed #000;
	border-radius: 0;
	margin-top: 20px;
}
.breadcrumb a{
	color: #000;
}
.information p{
	color: #6f6f6f;
	font-size: 12px;
}
.information .price{
	width: 100%;
	background: #eee;
	padding: 60px 30px;
	margin-top: 20px;
}
.information .price span{
	font-size: 16px;
}
.information .price .cost{
	color: #e72e25;
	font-size: 36px;
	margin-left: 20px;
}
.buttons{
	margin-top: 50px;
}
.button{
	border: 1px solid #e72e25;
	padding: 10px 15px;
	margin: 20px;
	margin-left: 0;
}
#buy{
	background: #fff;
	color: #e72e25;
}
#buy:hover{
	background: #e72e25;
	color: #fff;
}
#shoplist{
	background: #e72e25;
	color: #fff;
}
#shoplist:hover{
	background: #fff;
	color: #e72e25;
}
.right_infor{
	border: 1px solid #eee;
	margin-top: 20px;
}
.right_infor .nav{
	background: #eee;
}
.right_infor .nav a{
	border:none;
	border-radius: 0;
	color: #333;
	border-top: 2px solid #eee;
	font-size: 16px;
}
.right_infor .nav .active a{
	border:none;
	border-radius: 0;
}
.right_infor .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus,.right_infor .nav-tabs > li.active > a:hover{
	border: none;
	color: #e75e25;
	border-top: 2px solid #e75e25;
}
#information span{
	font-size: 16px;
	color: #7c7c7c;
	display: inline-block;
	padding: 15px 0;
}
#information hr{
	margin: 0;
}
.left_computer{
	border:1px solid #eee;
}
.left_computer .img_container{
	border-bottom:1px solid #eee;
	padding: 0 20px;
}
.left_computer .cost{
	color: #e75e25;
}
.left_computer h5 a{
	color: #333;
}
.left_computer .hot{
	line-height: 30px;
	height: 30px;
	background: #e75e25;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.col-lg-2{
	padding: 0;
}
/*shoplist*/
.img_shoplist{
	margin-top: 20px;
}
.img_container{
	width: 180px;
	margin:0 auto;
}
.button_delete{
	border: none;
	height: 40px;
	line-height: 40px;
	width: 70px;
	background: #e75e25;
	color: #fff;
	border-radius: 5px;
}
.shoplist .table{
	margin-top: 40px;
}
.shoplist .table .titles td{
	line-height: 60px;
	font-size: 16px;
}
.shoplist .table td{
	line-height: 120px;
	font-size: 16px;
}
@media screen and (max-width: 530px) {
    .img{
    	display: none;
    }
}
@media screen and (max-width: 390px) {
    .type,.infor{
    	display: none;
    }
}
.shoplist .sum{
	color: red;
	font-size: 20px;
}
.shoplist .sum_button{
	color: red;
	display: block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid red;
}
.shoplist .sum_button:hover{
	color: #fff;
	background: red;
}
/*admin*/
.admin .form-group{
	width: 18%;
	float: left;
	margin-left: 20px;
}
.admin .btn{
	margin-top: 25px;
}
/*warning*/
.warning{
	text-align: center;
	margin-top: 20px;
}